<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
</head>
<body>
   <div style="text-align: center">
       <div>
           <h1>这里是登录页面！</h1>
       </div>
       <div>
           <form action="/login" method="post">
               <span>账号: <input type="text" name="username"></span><br>
               <span>密码: <input type="text" name="password"></span><br>
               <button type="submit">登录</button>
           </form>
           <a href="/regist"><button>注册</button></a>
       </div>
   </div>
</body>
</html>