<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
</head>
<body>
    <div style="text-align: center">
        <div>
            <span><h1>请填写注册信息</h1></span>
        </div>
        <div>
            <form action="/regist" method="post" id="student_form">
                <span>姓名:<input type="text" name="name"></span><br>
                <span>学号:<input type="text" name="number"></span><br>
                <span>密码:<input type="text" name="password"></span><br>
                <span>性别:<input type="text" name="sex"></span><br>
                <span>年龄:<input type="text" name="sex"></span><br>
                <span>邮件:<input type="text" name="email"></span><br>
                <span>电话:<input type="text" name="phone"></span><br>
                <span>地址:<input type="text" name="address"></span><br>
                <span>院系:<input type="text" name="department"></span><br>
                <span>班级:<input type="text" name="class"></span><br>
                <span><button type="submit">提交</button></span>
            </form>
        </div>
    </div>
</body>
</html>